.toc-container {
    width: 15%;
    min-width: 200px;
    position: fixed;
    top: 300px;
    left: 85%;
    padding: 10px;
    border-radius: 5px;
}

.toc {
    font-size: 14px;
    margin: 10px;
    padding: 0;
}

.toc li::marker {
    font-size: 0;
}

.toc a {
    text-decoration: none;
    list-style: none;
}

.toc a:hover {
    color: #d58d8d;
}
